<?xml version="1.0"?>
<launch>
  <arg name="uri" default="radio://0/90/2M" />
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find bitcraze_lps_estimator)/data/rvizconfigpf.rviz"/>

  <group ns="crazyflie">
    <rosparam command="load" file="$(find bitcraze_lps_estimator)/data/anchor_pos.yaml" />
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
    
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="crazyflie" />
      <rosparam>
        genericLogTopics: ["log_ranges"] <!--log delle distanze-->
        genericLogTopicFrequencies: [100] <!--frequenza aggiornamento delle distanze-->
        genericLogTopic_log_ranges_Variables: ["ranging.distance0", "ranging.distance1", "ranging.distance2", "ranging.distance3", "ranging.distance4", "ranging.distance5", "ranging.state"] <!--valore delle distanze aggiornate-->
      </rosparam>

    </node>

    <node name="log_range" pkg="bitcraze_lps_estimator" type="log_range.py" />
    <node name="lps_pf" pkg="bitcraze_lps_estimator" type="lps_pf.py" />
    <node name="lps_viz" pkg="bitcraze_lps_estimator" type="lps_viz.py" />
  </group>
  <node pkg="tf" type="static_transform_publisher"  name="link1_broadcaster"
        args="1 0 0 0 0 0 1 world lps 100" />


  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />
</launch>
